<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuguseiyou.dataservice.mapper.BidMapper">
  <resultMap id="BaseResultMap" type="com.nuguseiyou.model.Bid">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="bid_money" jdbcType="DECIMAL" property="bidMoney" />
    <result column="bid_time" jdbcType="TIMESTAMP" property="bidTime" />
    <result column="bid_status" jdbcType="INTEGER" property="bidStatus" />
  </resultMap>

  <resultMap id="PhoneBidMap" type="com.nuguseiyou.model.ext.PhoneBid">
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="bid_money" jdbcType="DECIMAL" property="bidMoney" />
    <result column="bid_time" jdbcType="TIMESTAMP" property="bidTime" />
  </resultMap>

  <resultMap id="userBidRecord" type="com.nuguseiyou.model.ext.UserBid">
      <result column="product_name" jdbcType="VARCHAR" property="productName"/>
      <result column="bid_money" jdbcType="DECIMAL" property="bidMoney" />
      <result column="bid_time" jdbcType="TIMESTAMP" property="bidTime" />
      <result column="bid_status" jdbcType="INTEGER" property="bidStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, uid, bid_money, bid_time, bid_status
  </sql>

    <!--查询成交总金额-->
    <select id="selectSumInvestMoney" resultType="java.math.BigDecimal">
        select sum(bid_money)
        from b_bid_info
    </select>
  <!--某产品最近投资记录-->
    <select id="selectProductBidRecord" resultMap="PhoneBidMap">
        SELECT u.phone,b.bid_money,b.bid_time
        from u_user u join b_bid_info b
        on u.id = b.uid
        where b.product_id = #{pid}
        order by b.bid_time desc
        limit 0,#{rows}
    </select>

    <!--用户最近投资记录展示-->
    <select id="selectUserBidRecord" resultMap="userBidRecord">
        SELECT
            product.product_name,
            bid.bid_money,
            bid.bid_time,
            bid.bid_status
        FROM
            b_bid_info bid
        LEFT JOIN b_product_info product ON bid.product_id = product.id
        WHERE
            bid.uid = #{uid}
        ORDER BY
            bid.bid_time DESC
        LIMIT #{offset},#{rows}
    </select>
    <!--查询用户最近投资记录的总数-->
    <select id="selectUserBidRecordCount" resultType="int">
        select count(id)
        from b_bid_info
        WHERE uid = #{uid}
    </select>

    <!--添加用户投资记录-->
    <insert id="insertInvestRecord">
        insert into b_bid_info (product_id, uid, bid_money, bid_time, bid_status)
        values(#{productId},#{uid},#{bidMoney},#{bidTime},#{bidStatus})
    </insert>
    <!--查询满标产品的投资记录-->
    <select id="selectFullProductInvest" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from b_bid_info
        where product_id = #{id} and bid_status = 1
    </select>

</mapper>