<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuguseiyou.dataservice.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.nuguseiyou.model.Product">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="cycle" jdbcType="INTEGER" property="cycle"/>
        <result column="release_time" jdbcType="DATE" property="releaseTime"/>
        <result column="product_type" jdbcType="INTEGER" property="productType"/>
        <result column="product_no" jdbcType="VARCHAR" property="productNo"/>
        <result column="product_money" jdbcType="DECIMAL" property="productMoney"/>
        <result column="left_product_money" jdbcType="DECIMAL" property="leftProductMoney"/>
        <result column="bid_min_limit" jdbcType="DECIMAL" property="bidMinLimit"/>
        <result column="bid_max_limit" jdbcType="DECIMAL" property="bidMaxLimit"/>
        <result column="product_status" jdbcType="INTEGER" property="productStatus"/>
        <result column="product_full_time" jdbcType="TIMESTAMP" property="productFullTime"/>
        <result column="product_desc" jdbcType="VARCHAR" property="productDesc"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, product_name, rate, cycle, release_time, product_type, product_no, product_money, 
    left_product_money, bid_min_limit, bid_max_limit, product_status, product_full_time, 
    product_desc
  </sql>

    <!--查询年利率-->
    <select id="selectAvgRate" resultType="java.math.BigDecimal">
    select round(avg(rate),2)
    from b_product_info
  </select>
    <!--查询产品信息-->
    <select id="selectProductInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from b_product_info
        where product_type = #{type}
        ORDER BY rate desc
        limit #{offset},#{rows}
    </select>
    <!--查询某种类型产品的总数-->
    <select id="selectCountProduct" resultType="java.lang.Integer">
        select count(id)
        from b_product_info
        where product_type = #{ptype}
    </select>
    <!--查询产品的详细信息-->
    <select id="selectProductMinuteInfo" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List"></include>
      from b_product_info
      WHERE id = #{pid}
    </select>


    <!--扣除产品的剩余可投资金额-->
    <update id="updateLeftProductMoney">
        update b_product_info set left_product_money = left_product_money - #{bidMoney}
        where id = #{productId} and (left_product_money - #{bidMoney} >= 0)
    </update>
    <!--修改产品状态为已满标-->
    <update id="updateProductStatus">
        update b_product_info set product_status = 1,product_full_time = now()
        where id = #{productId}
    </update>

    <!--查询昨天达到满标的产品-->
    <select id="selectFullProduct" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from b_product_info
        where product_status = 1
        and (product_full_time &gt;= #{bTime} and product_full_time &lt; #{eTime})
    </select>

    <!--修改产品状态为  2: 满标已生成收益计划-->
    <update id="updateProductStatusIncome">
        update b_product_info set product_status = #{productStatus}
        where id = #{productId}
    </update>


</mapper>